{
  "semi": true,
  "singleQuote": true,
  "order": "smacss",
  "keepOverrides": false,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["**/*.html"],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
